#foto1 {

  width: 101%;
  height: 670px;
  border-radius: 20px;
  background-image: url('https://i.imgur.com/wWIaxBT.png');


}

.pt {
    position: relative;
    display: inline-block;

}

.wh{
    width: 120px;
    height: 130px;

}

.br-50{
    border-radius: 200%;
}

.jumbotron {
    background-color: white;
    background-image: url(https://i.imgur.com/AYXNx8U.jpg);

}

.ht{
    height: 180px;
    width: 200px;
}

.container {
    width: 94%;
    margin: 0 auto;
}
