.carrocel {

    text-align: center;

    width: 100%;
    height: auto;


}

.pelicula{
    width: 100%;
    height: 100%;
    background-color: rgba(182, 190, 173, 0.246);
    position: relative;
}

.navbar {
  display: absolute !important;

  background-color: #282c4e;

  box-shadow: 0px 3px 5px -3px var(--text-default);

}

.navbar-light {
  width: 100%;
  height: auto;

  position: relative;

  background-color: var(--icon-background);
  background-image: linear-gradient(var(--icon-background), var(--background-section));

  z-index: 1 !important;

  box-shadow: none;

  font-family: 'Lato', sans-serif !important;

  box-shadow: 0px 3px 5px -3px var(--text-default);

}

.nav-link {
  font-weight: 400 !important;

  color: var(--text-default) !important;

}

.nav-item .dropdown .btn-success {
  background-color: var(--icon) !important;

}

.navbar-nav {
  margin-left: 5%;

}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  width: 5%;
  height: auto;

  padding: 0;
  margin: 0;

}

.img img {
  width: 100%;
  height: auto;

  padding: 0;
  margin: 0;

}

<<<<<<< HEAD

.iconMedia {
  width: 8%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color, .3s ease-in-out;

  color: var(--text-white);

  text-decoration: none;

  font-weight: 700;

}

.iconMedia svg {
  padding: 5%;

  width: 20%;
  height: auto;
}
=======
>>>>>>> af947b594dbb00e3e7d461045a06f7d9cf3c4cd2
.collapse ul {
  width: 80%;
  height: auto;

  display: flex !important;
  justify-content: flex-end !important;

}

.collapse ul li {
  padding: 1% 1% !important;

}

.collapse ul li a {
  font-weight: 700 !important;
  font-family: 'Oxygen', sans-serif;

  color: var(--text-gray-bold) !important;

  transition: color, .3s ease-in-out;

}

.collapse ul li a:hover {
  color: var(--icon) !important;

<<<<<<< HEAD

=======
>>>>>>> af947b594dbb00e3e7d461045a06f7d9cf3c4cd2
}
