<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
        <div class="img">
            <img src="../../assets/img/logo.png" alt="">
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item  active">
                <a class="nav-link" routerLink='/home' >Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/sobre' >Sobre nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/contatos' >Contato</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produtos
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink='/categoria' >Meio Ambiente</a>
                    <a class="dropdown-item" routerLink='/item' >Ajuda Social</a>
                  </div>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</nav>
