<div class="container-produtos">


<div class="produtos">
    <div class="bloco">
        <div class="img">
            <img src="../../assets/img/planta-quad.jpg" alt="">

        </div>
        <div class="dados">
            <h2>
                Nome Produto
            </h2>
            <p>R$ 49,00</p>
        </div>
    </div>
    <div class="bloco">
        <div class="img">
            <img src="../../assets/img/planta-quad.jpg" alt="">

        </div>
        <div class="dados">
            <h2>
                Nome Produto
            </h2>
            <p>R$ 49,00</p>
        </div>
    </div>
    <div class="bloco">
        <div class="img">
            <img src="../../assets/img/planta-quad.jpg" alt="">

        </div>
        <div class="dados">
            <h2>
                Nome Produto
            </h2>
            <p>R$ 49,00</p>
        </div>
    </div>
    <div class="bloco">
        <div class="img">
            <img src="../../assets/img/planta-quad.jpg" alt="">

        </div>
        <div class="dados">
            <h2>
                Nome Produto
            </h2>
            <p>R$ 49,00</p>
        </div>
    </div>
    <div class="bloco">
        <div class="img">
            <img src="../../assets/img/planta-quad.jpg" alt="">

        </div>
        <div class="dados">
            <h2>
                Nome Produto
            </h2>
            <p>R$ 49,00</p>
        </div>
    </div>
    <div class="bloco">
        <div class="img">
            <img src="../../assets/img/planta-quad.jpg" alt="">

        </div>
        <div class="dados">
            <h2>
                Nome Produto
            </h2>
            <p>R$ 49,00</p>
        </div>
    </div>
</div>
</div>