.container {
  margin-top: 2%;

}

.texto {
  font-family: 'Amaranth', sans-serif;

  color: var(--text-link);

}

.rota-link {
  color: var(--icon) !important;

  text-decoration: none;

  transition: color, .5s ease-in-out;

  font-weight: 700 !important;

}

.rota-link:hover {
  color: var(--background-color-button);

}

.botao {
  background-color: var(--icon);

  border: none;

  color: var(--text-white);

  padding: 1.5% 3%;

  transition: background-color, .3s ease-in-out;

  border-radius: 5px;

  font-weight: 700;

}

.botao:hover {
  background-color: var(--text-menu-hover);

}

.text-center {
  font-weight: 700;

}

.table th, tr, td {
  border-top: 0px solid #dee2e6 !important;
}

.resposividade-botao {
  display: flex;
  align-items: center;
  justify-content: center;

}

.margem-botao {
  margin: 1% !important;

}

.botao-editar {
  background-color: var(--icon) !important;

  color: var(--text-menu) !important;

  transition: color, background-color, .3s ease-in-out;

  font-weight: 700 !important;

}

.botao-editar:hover {
  background-color: var(--text-menu-hover) !important;

  color: var(--text-default) !important;

}

.botao-apagar {
  background-color: var(--icon) !important;

  color: var(--text-menu) !important;

  font-weight: 700 !important;

  transition: color, background-color, .3s ease-in-out;

}

.botao-apagar:hover {
  background-color: var(--text-menu-hover) !important;

  color: var(--text-default) !important;

}

@media(max-width: 600px){
  .texto-responsivo {
    display: flex;
    justify-content: center !important;
    align-items: center !important;

  }

  .mt-3 {
    margin-bottom: 1% !important;

  }

  .resposividade-botao {
    flex-direction: column;

  }

  .margem-botao {
    margin: 1% !important;

  }

}
